*.svg
*.csv
*.log
*.txt
*.md
*.png
*.pickle
*.db
__pycache__/

venv/
markdown/
.breakpoints
.replit
.poetry.lock
poetry.lock
pyproject.toml
.upm/
replit.nix
.config/

node_modules/
.vscode/

!requirements.txt