<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
  rel="shortcut icon" 
  type="image/x-icon" 
  href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link 
  rel="stylesheet"
  href="/static/prism.css" 
  />
  <link 
  rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
  />
  <link 
  rel="stylesheet"
  href="{{url_for('static',filename='css/main.css')}}" 
  />
  <style>
  </style>
  <title>SparkGPT {{ model|upper }} {{ title }} Chat</title>
</head>
<body class="bg-gray-900 text-white/90">
  <div style="height:92vh;" class="flex justify-center text-white">
    <div class="flex flex-col w-full max-w-2xl lg:h-screen">
      <div id="sidebar" class="fixed top-0 left-0 h-full w-64 bg-gray-900 p-4 overflow-auto transform -translate-x-full transition-transform duration-3000 ease-in-out z-10">
        <nav id="nav-links" class="space-y-2 pt-4 text-xs sm:text-base">
          
          <a href="/export" class="flex justify-center items-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-4">
            <i class="fa fa-download mr-2"></i>Export
          </a>
        
        
          <a href="/reset" class="flex justify-center items-center group relative w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-4">
            <i class="fa fa-undo mr-2" aria-hidden="true"></i>Reset Chat
          </a>
          <a href="/logout" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-4">
            Logout
        </a>
        </nav>
      </div>
    
      <header class="p-4 bg-gray-900 border-b border-gray-700 border-l border-r flex justify-between items-center">
       <button id="menu-button" class="text-white">
          <i class="fa fa-bars"></i>
        </button>
        <h1 class="text-lg md:text-xl text-center"><a href="/">{{ title }} || {{ model|upper }}</a></h1>
        <div></div> <!-- Spacer -->
      </header>
      <main id="message-box" class="flex-grow overflow-y-scroll bg-gray-800 p-4 space-y-6 md:max-h-[72vh] w-full md:max-w-2xl md:mx-auto sm:max-h-[64vh] lg:max-h-[74vh] border-l border-r border-gray-700">
    {% if opening %}

      <div class="flex flex-col items-start">
        <div class="max-w-md mx-2 py-2 px-4 rounded-lg bg-blue-700 text-white">
          {{ opening|safe }}
        </div>
      </div>
      
    {% endif %}
    {% for message in messages %}
    {% if message.role != 'system' %}
    <div class="flex flex-col {% if message.role == 'assistant' %}items-start{% else %}items-end{% endif %}">
      <div class="max-w-md mx-2 py-2 px-4 rounded-lg {% if message.role == 'assistant' %}bg-blue-700 text-white{% else %}bg-green-700 text-white{% endif %}">
        {{ message.content|safe }}
      </div>
      <a href="/delete_msg?msg={{ message.id }}" class="text-sm text-red-300 hover:text-red-500"><i class="fas fa-trash"></i></a>
    </div>
    {% endif %}
    {% endfor %}
    </main>
      <footer class="p-4 bg-gray-900 border-t border-b border-gray-700 border-l border-r w-full flex flex-col md:items-center md:justify-between space-y-2 md:space-y-4">
        <div class="flex justify-between items-center w-full md:max-w-2xl">
          {% if sats_left %}
          <div class="text-center text-white">Sats Remaining: <span id="sats" class="text-red-500">{{ sats_left }}</span> || <a href="/top_up" class="hover:text-red-500">Top Up Now</a></div>
          {% endif %}
        </div>
        <form action="/respond" method="post" onsubmit="sendMessage(event)" class="flex space-x-2 w-full">
          <textarea class="input-box flex-grow py-2 bg-gray-700 text-white border border-gray-600 rounded resize-none text-lg" name="message" placeholder="Enter a message here..." required></textarea>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          <button type="submit" id="submit-btn" class="md:py-3 px-4 rounded bg-transparent text-red-500 hover:text-red-700 text-lg">
            <i class="fa fa-paper-plane"></i>
          </button>
        </form>
      </footer>
    </div>
  </div>
    <script>
      document.getElementById('menu-button').addEventListener('click', function() {
        document.getElementById('sidebar').classList.toggle('translate-x-0');
      });

      document.addEventListener('click', function(event) {
        let isClickInside = document.getElementById('sidebar').contains(event.target);
        let isOnMenuButton = document.getElementById('menu-button').contains(event.target);
        
        if (!isClickInside && !isOnMenuButton && document.getElementById('sidebar').classList.contains('translate-x-0')) {
          document.getElementById('sidebar').classList.toggle('translate-x-0');
          }
      });
    </script>
    <script 
    src="static/script.js">
  </script>
    <script 
    src="/static/prism.js">
  </script>
    {% if text %}
    <script>
    setTimeout(function() {
      const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
      window.history.replaceState({ path: newUrl }, '', newUrl);
      document.getElementById("error").style.display = "none";
    }, 3000);
    </script>
    {% endif %}
</body>
</html>