<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
    {% if text %}
    <script>
      setTimeout(function () {
        const newUrl =
          window.location.protocol +
          "//" +
          window.location.host +
          window.location.pathname;
        window.history.replaceState({ path: newUrl }, "", newUrl);
        document.getElementById("error").style.display = "none";
      }, 5000);
    </script>
    {% endif %}

    <style>
      html {
        height: 100%;
      }
      .prompt {
        background: #000000;
        color: #ffffff;
      }
    </style>
    <title>SparkGPT Signup Page</title>
  </head>
  <body class="bg-gray-900 text-white/90">
    <div class="h-full">
      <main class="min-h-full max-h-screen flex">
        <div
          id="sidebar"
          class="bg-gray-950 w-96 sm:w-96 p-2 sm:p-4 border-r border-gray-800"
        >
        <a href="/login" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-4">
            Login
          </a>
        <a href="/signup" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-4">
            Sign Up
        </a>
        </div>
        <div class="min-h-screen p-4 flex w-full">
          <section class="w-1/2 m-auto">
            <header class="p-4">
              <h1 class="text-2xl text-center">SparkGPT Signup</h1>
              {% if text %}
                <div class="col-start-2 col-span-2 w-full px-4 py-5 sm:px-6 text-center">
                  <div id="black-box">
                    <span class="text-red-500" id="error">{{ text }}</span>
                </div>
              </div>
            {% endif %}
            </header>
            <div class="max-w-md w-full space-y-8">
                <form action="/signup_function" method="post" class="mt-8 space-y-6">
                   <label for="username" class="sr-only">Username</label>
                     <input type="text" name="username" id="username" placeholder="Username" class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm bg-gray-800 mt-2" required>
                     <label for="password" class="sr-only">Password</label>
                     <input type="password" name="password" id="password" placeholder="Password" class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm bg-gray-800 mt-2" required>
                    <label for="password_confirm" class="sr-only">Confirm Password</label>
                    <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm Password" class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm bg-gray-800 mt-2" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mt-4">Signup</button>
            </form>
            </div>
        </section>
        </div>
      </main>
    </div>
  </body>
</html>
