<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    window.onload = function() {
      let message_box = document.getElementById('message-box');
      message_box.scrollTop = message_box.scrollHeight;
    };
    {% if text %}
    setTimeout(function() {
  const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
window.history.replaceState({ path: newUrl }, '', newUrl);
  document.getElementById("error").style.display = "none";
}, 7000);
    {% endif %}
  </script>
  <link rel="stylesheet" href="/static/style.css">
  <title>{{ title }} Chat</title>
</head>
<body>
  
  <center>
    <div class="form-wrapper">
      <form action="/respond" method="post">
        <div class="input-wrapper">
          <a href="/reset" class="reset-btn"></a>
          <input class ="input-box" type="text" name="message" placeholder="Message" required>
        </div>
        <button type="submit" id="submit-btn" class="submit-btn"></button>
      </form>
    </div>
  </center>
  <div class="title"><span>{{ title }}</span><a class="export-link" href="/export">&#x2601;</a></div>
  <div class="message-box" id="message-box">
    {% if text %}
    <h1 class="reset-text" id="error">{{ text }}</h1>
    {% endif %}
  {% for message in messages %}
    {% if message.role != 'system' %}
      {% if message.role == 'assistant' %}
              {% if '<pre>' in message.content %}
              <div class="assistant-message">
                {{ message.content|replace('<pre>', '<pre class="code">')|safe }}</pre>
              </div>
              {% else %}
              <div class="assistant-message">
                {{ message.content|safe }}
              </div>
              {% endif %}
                  
            {% elif message.role == 'user' %}
              <div class="user-message">
              {{ message.content|safe }}
              </div>
            {% endif %}      
    {% endif %}
{% endfor %}
  </div>
</body>
</html>