<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="static/script.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script>
    {% if text %}
    setTimeout(function() {
  const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
window.history.replaceState({ path: newUrl }, '', newUrl);
  document.getElementById("error").style.display = "none";
}, 3000);
    {% endif %}
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/static/style.css">
  <style>
  

  </style>
  <title>{{ title }} Chat</title>
</head>
<body>
  
  <center>
    <div class="form-wrapper">
      <form action="/respond" method="post" onsubmit="sendMessage(event)">
        <div class="input-wrapper">
          {% if token_left %}
            <div class="sats">
<span class="sat"> Sats Remaining: {{ token_left }}</span>
            
            </div>
{% endif %}
          <a href="/reset" class="reset-btn"><i class="fa fa-undo" aria-hidden="true"></i></a>
          <textarea class ="input-box" name="message" placeholder="Enter a message here..." required></textarea>
        </div>
        <button type="submit" id="submit-btn" class="submit-btn"><i class="fa fa-paper-plane"></i></button>
      </form>
    </div>
  </center>
  <div class="title"><span><a href="/">{{ title }}</span></a><a class="export-link" href="/export">&#x2601;</a></div>
  <div class="message-box" id="message-box">
  {% for message in messages %}
    {% if message.role != 'system' %}
      {% if message.role == 'assistant' %}
        {% if '<pre>' in message.content %}
          
            <div class="assistant-message">
              {{ message.content|replace('<pre>', '<pre class="code">')|safe }}
              </pre>
              </div>
            <div class="message-actions-assistant">
    <a href="/delete_msg?msg={{ message.index }}" class="ass-btn"><i class="fas fa-trash"></i></a>
            </div>
         
        {% else %}
         
            <div class="assistant-message">
              {{ message.content|safe }}
            </div>
            <div class="message-actions-assistant">
    <a href="/delete_msg?msg={{ message.index }}" class="ass-btn"><i class="fas fa-trash"></i></a>
            </div>
          
        {% endif %}
      {% elif message.role == 'user' %}
          
          <div class="user-message">
            {{ message.content|safe }}
          </div>
          <div class="message-actions-user">
    <a href="/delete_msg?msg={{ message.index }}" class="usr-btn"><i class="fas fa-trash"></i></a>
            
          </div>
          
      {% endif %}      
    {% endif %}
  {% endfor %}

  {% if text %}
    <h1 class="reset-text" id="error">{{ text }}</h1>
  {% endif %}
          <div></div>
</div>

</body>
</html>